code {
    white-space: pre;
    display: none;
}

code.current-frame {
    display: block;
}

button.start:before {
    content: "start";
}

button.stop:before {
    content: "stop"
}

button#action {
    font-weight: bold;
}

button#back:before {
    content: "back";
}

button#forward:before {
    content: "forward";
}

button#reset:before {
    content: "reset";
}
